.loginScreen{
    position: relative;
    height: 100%;
    background: url('https://cdn.mos.cms.futurecdn.net/98GnqFKaUMYU3GG5HxhLWZ.jpg');
    background-size: cover;
}
.loginScreen__body{
    position: absolute;
    top: 30%;
    /* width: 100vw; */
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    right: 0;
}
.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%
    );
    background-image: linear-gradient( 
        180deg, 
        transparent,
        rgba(14, 215, 255, 0.35), rgb(52, 225, 231) ) ;
}

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 110px;
    object-fit: contain;
    padding-left: 8px;
    cursor: pointer;
}

.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
}



.loginScreen__body > h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.loginScreen__body > h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3 {
    font-size: 1rem;
    font-weight: 400;
}

.loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.loginScreen__input{
    margin: 20px;
}

.loginScreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    background-color: #e50914 ;
    border: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

