.profileScreen{
    height: 100vh;
    color: white;
    background-color: black;
    background-image: linear-gradient( 
        180deg, 
        transparent,
        rgba(14, 215, 255, 0.35), rgb(52, 225, 231) ) ;
}

.profileScreen__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
    min-width: 350px;
    
    
}

.profileScreen__info{
    display: flex;

}


.profileScreen__info > img {
    height: 5rem;
    width: auto;
}

.profileScreen__body > h1 {
     font-size: 2.5rem;
     font-weight: 400;
     border-bottom: 1px solid #282c2d;
     margin-bottom: 1.5rem;
     /* padding-bottom: 2rem; */
     padding-top: 2rem;
}

.profileScreen__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__details > h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    cursor: context-menu;
}

.profileScreen__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.profileScreen__plans{
    margin-top: 20px;
    color: white;
}

.profileScreen__plans > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}